package components

templ EmptyState() {
	<button
		hx-get="/lines/picker"
		hx-swap="outerHTML"
		class="
      aspect-video bg-white rounded-xl p-4 flex flex-col
      justify-center items-center cursor-pointer hover:bg-[#f6f5f1]
    "
	>
		<img src="/assets/images/empty_state.svg" alt="empty_state" class="mb-4"/>
		<h2 class="text-xl">New Stop</h2>
	</button>
}
