package components

import "database/sql"

templ LineMode(mode sql.NullString) {
	<span class="bg-[#d44339] size-[32px] rounded-full text-white flex justify-center items-center">
		if mode.Valid {
			switch mode.String {
				case "tram":
					T
				case "bus":
					B
				case "metro":
					M
				default:
					?
			}
		} else {
			B
		}
	</span>
}
